<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>LakeMind</title>

    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"
    />
    <meta name="importmap-type" content="systemjs-importmap" />

    <link
      href="https://cdn.jsdelivr.net/npm/react-toastify@10.0.5/dist/ReactToastify.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
          "react": "https://cdn.jsdelivr.net/npm/react@18.3.1/umd/react.development.js",
          "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@18.3.1/umd/react-dom.development.js",
          "react-router-dom": "https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.3.4/react-router-dom.min.js",
          "history": "https://cdn.jsdelivr.net/npm/history@4.10.1/umd/history.min.js",
          "@emotion/react": "https://cdn.jsdelivr.net/npm/@emotion/react@11.14.0/dist/emotion-react.umd.min.js",
          "clsx": "https://cdn.jsdelivr.net/npm/clsx@2.1.1/dist/clsx.min.js",
          "react-toastify": "https://cdn.jsdelivr.net/npm/react-toastify@10.0.5/dist/react-toastify.umd.js"
        }
      }
    </script>
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      as="script"
      crossorigin="anonymous"
    />

    <% if (process.env.ROOT_APP_ENV === 'local') { %>
    <script>
      window.env = {
        API_SERVICE_URL: "<%= process.env.API_SERVICE_URL %>",
        DATABRICKS_HOST: "<%= process.env.DATABRICKS_HOST %>",
        AUTH_PROVIDER: "<%= process.env.AUTH_PROVIDER %>",
      };
    </script>
    <% } else { %>
    <script src="/config.js"></script>
    <% } %> <% if (process.env.ROOT_APP_ENV === 'local') { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@lakemind/root-config": "//localhost:3003/lakemind-root-config.js",
          "@lakemind/main-portal": "//localhost:9090/lakemind-main.js"
        }
      }
    </script>
    <% } else if (process.env.ROOT_APP_ENV === 'localdeploy') { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@lakemind/root-config": "//localhost:30/lakemind-root-config.js",
          "@lakemind/main-portal": "//localhost:80/lakemind-main.js"
        }
      }
    </script>
    <% } else { %>
    <script type="systemjs-importmap" src="/importmap.json"></script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@4.2.0/dist/import-map-overrides.js"></script>
    <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.15.1/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.15.1/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.15.1/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.15.1/dist/extras/amd.min.js"></script>
    <% } %>

    <link rel="apple-touch-icon" href="/logo.svg" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  </head>
  <body class="h-screen">
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <script>
      System.import("@lakemind/root-config");
    </script>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
    <div id="root"></div>
  </body>
</html>
